html, body {
    touch-action: pan-x pan-y;
}

#personal-count {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#success-modal {
    user-select: none;
}

#success-modal > div {
    box-shadow: none !important;
    border: none !important;
}

#close-modal {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

#close-modal:focus,
#close-modal:active {
    outline: none !important;
    box-shadow: none !important;
    background-color: #3b82f6 !important;
} 